<html>
<head>
    


</head>




<body>
<br/>

<% @posts.each do |posts| %>

<br/>
 <p> <%= posts.content %> </p>
<p2> <a name = "post_id" href = "/details/<%= posts.id %>">Comments </a> <%= posts.created_at %> </p2>
<% end %>



<div class="mx-auto" style="width: 500px;">
<h2 style = "color: blue; " > Новый пост </h2>

<form action = "/blog" method = "Post" role = "form">
<br/>
<textarea name = "content" class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder = "Введите свой текст" style = "width: 500px" ></textarea>
<br/>

 <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>



 


 


<script>


$(function() {





   });

</script>




 
</body>

</html>