<h1>

	<%= @title %>

</h1>

<p>

	<%= @message %>

</p>

<p>

<% @list.each do |line| %>
  <%= line %><br/>
<% end %>

</p>


<form action="/" method ="post">

Your name: <br />
	<input type = "text" name ="user_name"/> <br />
	Your phone: <br />
	<input type = "text" name = "phone"/> <br />
	Choose date/time: <br />
	<input type = "text" name = "date_time" /> <br />
	<input type = "submit"/>

</form>