<html>
<head>
    
<h> PHotos </h>

</head>




<body>

<ul class="first">

    <li>
        <img alt="opex1"  src="img/opex1.jpg">
        
    </li>
    <li>
        <img alt="opex2" src="img/opex2.jpg">
    </li>
    <li>
        <img alt= "opex3"  src="img/opex3.jpg">
    </li>
    </ul>

<script>


$(function() {

  $('ul.first').bsPhotoGallery()

   });

</script>




 
</body>

</html>